body * {
  opacity: 0;
  /* transform: translateY(10px); */
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.visible {
  opacity: 1;
  /* transform: translateY(0); */
}

body {
  padding-top: var(--header-height);
}

section {
  margin-top: 5vh;
}

.button{
  min-height: max-content;
  width: max-content;
  padding: 1em;
  background: #fff;
  border-radius: 4px;
}

/*<--------------- начало header ---------------->*/
header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;

  background-color: #222222;
  transition: background-color 0.3s;
  z-index: 1000;

  box-shadow: 0 2px 5px #333333;

  display: flex;
  align-items: center;
  padding: 0 5vw;
}

header.scrolled {
  background-color: #141414;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo a {
  font-size: 2em;
}

.top-menu {
  height: 100%;
  flex: 1;
}

.top-menu_list {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 3vw;

}

.top-menu_list li{
  height: 100%;
  display: flex;
  align-items: center;
}

/*<--------------- конец header ---------------->*/
/*<--------------- начало greeting ---------------->*/
.greeting {
  width: 100%;
  height: 30vh;
  grid-template-columns: 1fr;
}

.greeting_main {
  width: 100%;
  height: 100%;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
}

.greeting_main p {
  font-family: var(--secondary-font);
}

.greeting_main ul li{
  width: max-content;
  padding: 0 1vw;
  background-color: var(--secondary-background-color);
  font-family: var(--secondary-font);
  display: flex;
  align-items: center;
  gap: 1vw;
}

.greeting_main ul li span {
  font-size: 1.2em;
}

.checkmark-icon {
  height: 1em;
}

.greeting_img {
  display: none;
}
/*<--------------- конец greeting ---------------->*/
/*<--------------- начало advantages ---------------->*/

.advantages {
  width: 100%;
  background-color: var(--secondary-background-color);
}

.advantages img {
  width: 100%;
}

.advantages_list {
  height: max-content;
  padding: 3vh 3vw;
}

.advantages_list ul {
  display: flex;
  flex-direction: column;
}

.advantages_list ul li {
  display: flex;
  padding: 1em;
  gap: 3vw;
  border-bottom: 1px solid var(--grey-color);
}
.pokeball-icon {
  height: 2em;
}

.advantages-button {
  margin-top: 3vh;
  min-width: 100%;
}
/*<--------------- конец advantages ---------------->*/