* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input, textarea {
  border: none;
  outline: none;
  font: inherit;
}

*:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
